/* Frontend Only CSS */
/* Main nav frontend with template */
#pf-header{
-moz-border-radius:5px 5px 0 0;
}
#pf_panel_nav_section ul {
margin: 0 !important;
z-index: 50;
height:34px;
line-height:19px;
padding:0 !important;
font-family:Arial,Helvetica,Verdana,sans-serif;
}
#pf_panel_nav_section li a{
float:left;
color: #FFF;
padding: 5px 10px;
text-decoration:none;
text-shadow:0 -1px 1px #000;
border-right:1px solid #283B5C;
}
#pf_panel_nav_section a{
color:#111;
}
#pf_panel_nav_section .pf_navigation li.active_section a,
#pf_panel_nav_section .pf_navigation li a:hover{
background:transparent url(../images/theme1/subnav.png) repeat-x 0 -23px;
z-index: 100;
color: #FFF;
position:relative;
top:1px;
}
div.current {
clear: both;
border:0;
margin-bottom:10px;
background-color:#FFF;
border-top:1px solid #6694E3;
padding:10px;
}
#pf_panel_nav_section .pf_navigation span{
padding:0 0 2px 22px;
background-image:url(../images/nav.png);
background-repeat:no-repeat;
}
#pf_nav_controlpanel span{
background-position:0 0;
}
#pf_nav_projects span{
background-position:0 -22px;
}
#pf_nav_tasks span{
background-position:0 -45px;
}
#pf_nav_filemanager span,
#pf_nav_filemanager_pro span{
background-position:0 -67px;
}
#pf_nav_calendar span{
background-position:0 -90px;
}
#pf_nav_time span{
background-position:0 -112px;
}
#pf_nav_board span{
background-position:0 -135px;
}
#pf_nav_users span{
background-position:0 -157px;
}
#pf_nav_groups span{
background-position:0 -180px;
}
#pf_nav_config span{
background-position:0 -203px;
}
#pf_panel_nav_section_subnav .pf_navigation{
margin:5px;
}
#pf-top{
background-color:#FFF;
padding-top:5px;
}
#pf_panel_nav_section{
background:url(../images/theme1/subnav.png) repeat-x scroll 0 0 transparent;
}
#pf-wrapper #pf_panel_nav_section_subnav .pf_navigation:first-of-type li:last-of-type a:hover{
-moz-border-radius:0;
-webkit-border-bottom-right-radius:0;
-webkit-border-top-right-radius:0;
border-radius:0;
}
#pf-header #pf_panel_nav_section{
height:28px;
}
/* File Manager Pro */
.pf_tree_wrapper{
width:120px !important;
}
.fmpro-table{
margin-left:120px !important;
}